.title {
  color: #f1f1f1;
  font-size: 1.3rem;
  margin: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.content {
  width:49%;
  position: relative;
  color: #888;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: #2d2d39;
  padding: 5px 20px;
}

.content img {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.9;
}

.subject {
  color: #f1f1f1;
}

.compony {
  color: #ffc107;
}

.description {
  color: #f1f1f1;
  text-align: justify;
}
@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .content{
    width: 100%;
  }
}
